@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.bebas-neue-regular {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  

* {
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;

    ::-webkit-scrollbar {
        width: 0px;
        height: 0px;
    }
}

html {
    background-color: #070E16;
}

header {
    background-color: #070E16;
    padding: 0px 50px;
    padding-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    max-width: 1500px;
    margin: auto;
}

header img {
    width: 80px;
}

header a {
    text-decoration: none;
    color: white;
    font-weight: bolder;
    margin: 5px;
}

header a:hover {
    color: red;
    transition: 0.3s;
}

.fire h2 {
    color: white;
    font-size: 30px;
    text-align: center;
    margin-top: 100px;
    font-family: 'Bebas neue';
    letter-spacing: 5px;
    transition: 0.3s;
}

.text-d {
    color: white;
    text-shadow: 1px 1px 10px rgb(255, 0, 0);
    font-family: 'Bebas neue';
    letter-spacing: 5px;
    transition: 0.3s;
}

.img-pedido {
    border: 1px solid rgba(255, 0, 0, 0.404);
    margin: 10px;
    margin-left: 48px;
    margin-right: 48px;
    transition: 0.3s;
}

.img-pedido img {
    max-width: 250px;
    border-radius: 5px;
    margin: 30px 10px 20px 30px;
    transition: 0.3s;
}

.img-pedido p {
    color: white;
    display: inline-block;
    vertical-align: top;
    width: 20%;

    margin-top: 30px;
    margin-left: 20px;
    margin-bottom: 20px;
    transition: 0.3s;
}

.img-pedido a {
    font-family: 'bebas neue';
    color: white;
    text-decoration: none;
    font-size: 25px;
    display: inline-block;
    vertical-align: top;
    width: 20%;

    margin-top: 85px;
    margin-left: 20px;

    border: 1px solid rgba(255, 0, 0, 0.404);
    padding: 10px;
    text-align: center;
    transition: 0.3s;
}

.img-pedido a:hover {
    background-color: red;
    transition: 0.3s;
}

.preco {
    font-family: 'bebas neue';
    text-align: center;
    padding-top: 60px;
    font-size: 30px;
    text-shadow: 1px 1px 10px rgba(255, 0, 0, 0.288);
    transition: 0.3s;
}

.btn-h {
    display: none;
    font-size: 26px;
}

.menu-lateral {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 300px;
    z-index: 999;
    background-color: #070E16;
    box-shadow: #070E16;
    flex-direction: column;
    text-align: center;
    padding-top: 100px;
    box-shadow: 1px 1px 10px rgba(255, 0, 0, 0.171);
    display: none;
}

.menu-lateral a{
    padding-bottom: 15px;
}

.btn-closed {
    font-size: 25px;
    border-bottom: 1px solid rgba(255, 0, 0, 0.534);
    
}

@media  (max-width: 650px) {
    
    .mobile-link {
        display: none;
    }
    .btn-h {
        display: block;
    }

    .menu-lateral.open {
        display: flex;
    }
}