@charset "UTF-8";


* {
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;

    ::-webkit-scrollbar {
        width: 0px;
        height: 0px;
    }

}

@media screen and (min-width:100px) and (max-width:800px) {
    
    .fire {
        display: block;
        max-width: 700px;
        transition: 0.3s;
    }

    .img-pedido img {
        display: block;
        margin: auto;
        padding-top: 30px;
        transition: 0.3s;
    }

    .img-pedido .textl {
        display: block;
        width: 350px;
        margin: auto;
        margin-top: 30px;
        text-align: justify;
        transition: 0.3s;
    }

    .img-pedido .preco {
        display: block;
        margin: auto;
        transition: 0.3s;
    }

    .img-pedido a {
        display: block;
        margin: auto;
        margin-top: 10px;
        margin-bottom: 10px;
        width: 200px;
        transition: 0.3s;
    }
}